@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Fredoka:wght@600&display=swap");


.result-container {
  min-height: 100vh;
  padding: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
    135deg,
    #3b5b86 0%,
    #bfdbfe 100%
  );

  font-family: 'Playfair Display', sans-serif;
}

.result-container::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -100px;

  width: 550px;   /* bigger */
  height: 550px;

  background: url("../assets/cat_skill.png") no-repeat center;
  background-size: contain;

  pointer-events: none;
}

.motivation-box {
  margin-top: -30px;

  font-family: 'Fredoka', sans-serif;  /* fun font */
  font-size: 30px;

  text-align: center;

  color: #092c56;

  max-width: 800px;
  line-height: 1.5;

  animation: fadeIn 0.6s ease;
}



/* ===== RESULT CARD ===== */
.result-card {
  width: 400px;
  padding: 17px;
  border-radius: 25px;

  background: #fff3b0ce;
  border: 5px solid #073874;

  text-align: center;

  transition: all 0.3s ease;
  box-shadow: 0 20px 50px rgba(23, 60, 108, 0.744);
}

.result-card:hover {
  transform: translateY(6px);
  background: #FAF0CA;
  border: 5px solid #fede60;

  box-shadow:
    0 0 25px rgba(244, 216, 103, 0.9),
    0 0 60px rgba(252, 221, 100, 0.7);
}

.restart-btn {
  margin-top: 10px;

  padding: 16px 40px;

  font-size: 18px;
  font-family: 'Fredoka', sans-serif;

  border-radius: 35px;
  border: 3px solid #fede60;

  background: #FAF0CA;
  color: #092c56;

  cursor: pointer;
  transition: all 0.3s ease;

  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.restart-btn:hover {
  transform: translateY(-6px);

  background: #ffe066;
  border-color: #facc15;

  box-shadow:
    0 0 25px rgba(254, 222, 96, 0.9),
    0 0 60px rgba(254, 222, 96, 0.7);
}

.result-container h2 {
  margin-top: 15px;
  margin-bottom: 1px;
}





